<footer>
  <div class="footer-columna-1">
    <div class="logo-footer">
      <img src="../src/assets/icons/Norioma Logo.png" alt="Norioma Logo" />
      <div class="footer-separador"></div>
      <p class="frase-footer">Norioma te enseña mejor cada dia.</p>
    </div>
  </div>
  <div class="footer-columna-2">
    <div class="redes-footer">
      <a href="#"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-tiktok"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="https://wa.link/kkpqo3" target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
  </div>
  <div class="separador-fila-columna"></div>
  <div class="footer-fila-2">
    © 2025 Norioma. Todos los derechos reservados.
  </div>
</footer>
