<nav>
  <div class="logo-nav">
    <img
      src="../src/assets/images/Portada facebook.png"
      alt="Icono Norioma"
      onclick="location.href='index.html'"
    />
  </div>
  <ul class="lista-nav">
    <li><a href="../index.html" class="lista-a">Inicio</a></li>
    <li><a href="../pages/ciclos.html" class="lista-a">Ciclos</a></li>
    <li><a href="../pages/docentes.html" class="lista-a">Docentes</a></li>
    <li><a href="../pages/contactanos.html" class="lista-a">Contactanos</a></li>
    <li>
      <a href="../pages/recursos.html" class="lista-a resaltar-nav">Recursos</a>
    </li>
  </ul>
</nav>
